* {
    box-sizing: border-box;
}

body{
    
    background-color: #000000dc;
    color: aliceblue;
}

/* in navBar.jsx - link h3*/
.nameApp {
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
    border-radius: 10px;
    background-color: #CE930A;
}

/*in navBar.jsx*/
.navTop {
    background: rgba(0, 0, 0, 0.807);

}

/*in navBar.jsx*/
.bot-1 {
    background-color: #CE930A;
    border-radius: 1%;
    height: 40px;
}
/*in navBar.jsx*/
.inp-1 {
    border-radius: 1%;

    height: 40px;
}
/* all bg-carousel places in header.jsx*/
.bg-carousel1 {
    min-height: 425px;
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    
    background-image: url(https://t4.ftcdn.net/jpg/04/51/91/07/360_F_451910724_zReyP0xzZQqQEN5aEDusqalwEsOX9HWS.jpg);
}

.bg-carousel2 {
    min-height: 425px;
    background-size: cover;
    background-position: top;

    background-size: 100% 110%;
    background-image: url(https://earlygame.com/uploads/images/_headerImage/netflix-library-gamer-movies.jpg);
}

.bg-carousel3 {
    min-height: 425px;
    background-size: cover;
    background-position: top;
    /* background-size: 100% 100%; */
    background-image: url(https://images-na.ssl-images-amazon.com/images/S/pv-target-images/c3a3caa7ca107d60de0dd9100d316f577af10bf7671751c43b55c88292bbd731._UY500_UX667_RI_V_TTW_.jpg);
}


.topHome{
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 29%, #977001 97%);
    
    
    /* padding: 15px; */
}

.topYear{
    color: #000000;
}